:root {
    --accent: #F0DB4F;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.uk-navbar-container {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.accent-bg {
    background-color: var(--accent) !important;
}

.accent-fg {
    color: var(--accent) !important;
}

.cornered-button {
    border-radius: 500px !important;
}

.uncap {
    text-transform: none !important;
}